<div ng-include="'components/navbar/navbar.html'"></div>

<article class="col-sx-12 alert" ng-show="response">
  <div class="col-sx-12 alert" ng-class="{'alert-success': (response.statusCode == 200), 'alert-danger': (response.statusCode != 200)}">
    {{ response.message }}
  </div>
</article>

<div class="col-xs-12">
  <button type="button" class="col-xs-2 btn btn-primary"
          ng-click ="setToJavaCompFail()" >
    Java Comp Error
  </button>
  <button type="button" class="col-xs-2 btn btn-primary"
          ng-click ="setToCppCompFail()" >
    C++ Comp Error
  </button>
  <button type="button" class="col-xs-2 btn btn-primary"
          ng-click ="setTotimeOut()" >
    Timeout
  </button>
  <button type="button" class="col-xs-2 btn btn-primary"
          ng-click ="setToWrongAnswer()" >
    Wrong Answer
  </button>
  <button type="button" class="col-xs-2 btn btn-primary"
          ng-click ="setRunTimeError()" >
    Run Time Error
  </button>
  <button type="button" class="col-xs-2 btn btn-primary"
          ng-click ="setCppSuccess()" >
    C++ Success
  </button>
  <button type="button" class="col-xs-2 btn btn-primary"
          ng-click ="setJavaSuccess()" >
    Java Success
  </button>
</div>


<article class="col-sx-12">
  <div class="form-group col-xs-12">
    <label for="programmingLanguage">Programming Language</label>
    <select class="form-control" id="programmingLanguage" ng-model="theLanguage">
      <option ng-repeat="language in languages" value="{{language}}">{{language}}</option>
    </select>
  </div>

  <div class="form-group col-xs-6">
    <label for="userId">UserId</label>
    <input id="userId" type="text" class="form-control" ng-model="theUserId">
  </div>

  <div class="form-group col-xs-6">
    <label for="problemId">ProblemId</label>
    <input id="problemId" type="text" class="form-control" ng-model="theProblemId">
  </div>

  <!-- TODO make a select-->
  <div class="form-group col-xs-6">
    <label for="difficulty">Programming Language</label>
    <select class="form-control" id="difficulty" ng-model="theDifficulty">
      <option ng-repeat="diff in difficulties" value="{{diff.id}}">{{diff.name}}</option>
    </select>
  </div>

  <div class="form-group col-xs-6">
    <label for="timeout">Timeout</label>
    <input id="timeout" type="text" class="form-control" ng-model="theTimeout">
  </div>

  <div class="form-group col-xs-12">
    <label for="testInput">Test Input</label>
    <textarea ng-model="theTestInput" class="form-control" rows="4" id="testInput"></textarea>
  </div>

  <div class="form-group col-xs-12">
    <label for="expectedOutput">Expected Output</label>
    <textarea ng-model="theExpectedOutput" class="form-control" rows="4" id="expectedOutput"></textarea>
  </div>


  <div class="form-group col-xs-12">
    <label for="code" >Code</label>
    <textarea ng-model="theCode" class="form-control" rows="16" id="code"></textarea>
  </div>

  <button type="button" class="col-xs-12 btn btn-success"
          ng-click ="submit(theLanguage, theUserId, theProblemId, theDifficulty, theTimeout, theTestInput, theExpectedOutput, theCode)" >
    Submit
  </button>
</article>

