<div ng-include="'components/navbar/navbar.html'"></div>
<HTML>
   <HEAD>
      <TITLE>Problem Submission</TITLE>
   </HEAD>
   <BODY>
    <div class="solveProblemShape" id="solveDescription">
    <div class="col-md-5">
    <h3>{{getCurrentUser().name}} is solving {{problemName}}</h2>
     <h3 >Problem Description</h3>
      <p ng-bind-html="problemDescription"></p>
      <h3 >Example</h3>
      <p ng-bind-html="example"></p>
      <h3>Input</h3>
      <p ng-bind-html="theInput"></p>
      <h3>Output</h3>
      <p ng-bind-html="output"></p>

      </div>
      <div class="col-md-7">
        <br>
        <br>
  <form role="form">
    <div class="form-group">
      <h3> Input your solution here!</h3>
      <textarea ng-model="code" class="form-control"  placeholder="Please name your class Main" rows="16" id="comment"></textarea>
    </div>
    <div class="col-md-2">
    <button ng-click ="sendSubmission(code,getCurrentUser()._id,problemID, problemDifficulty,theInput,output)" type="button" class="btn btn-success">Submit</button>
  </div>
  <div class="col-md-5">
    <label for="dropDown" class="col-sm-4 control-label">Language</label>
        <select id="dropDown" ng-model="theLanguage" value="Java">
          <option value="Java">java</option>
          <option value="C++">cpp</option>
        </select>
      </div>
  </form>
  <p>{{outputAfter}}</p>
</div>
</div>
   </BODY>
</HTML>


