<div ng-include="'components/navbar/navbar.html'"></div>
<HTML>
   <HEAD>
      <TITLE>Problems</TITLE>
   </HEAD>
   <BODY>
    <div class="problemShape" id="description" ng-init="show=true">
   	<div class="col-md-4" >
    <h1 align="left">Problems</h1>
    <input type="text" class="form-control" ng-model="searchtext" placeholder="Search...">
    <br>
    </header>
    <table class = "table table-hover">
    <tr>
    <th>Problem</th>
    <th>Difficulty</th>
  </tr>
  <tr align="left" ng-show="{{show}}&&x.active" ng-repeat="x in problems | filter :searchtext">
    <td> <a href ng-click ="toggle(x.description,x._id,x.example,x.input,x.output,x.active)">{{ x.name }} </a></td>
    <td>{{getDifficultyLabel(x.difficulty)}}</td>
  </tr>
</table>
 </div>
 <br>
 <br>
   <div ng-hide = "problem1" class= "col-md-6">
     	<h3 >Problem Description</h3>
     	 <p ng-bind-html="prblDescription"></p>
      <h3>Example</h3>
      <p ng-bind-html="example"></p>
      <h3>Input</h3>
      <p ng-bind-html="theInput"></p>
      <h3>Output</h3>
      <p ng-bind-html="output"></p>
        <a class="btn btn-default" ng-click="solveProblem()">Solve</a>
    </div>
  </div>
   </BODY>
</HTML>


